<!DOCTYPE html>
<html>
<head>
	<title>Angular Factor, Service and Provider</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="8.factory-service-provider.js"></script>
</head>
<body ng-app="app">
	<div ng-controller="emp">
		Value of a {{a}}, can be change <input type="text" ng-model="a"><br>
		Value of b {{b}}, can be change <input type="text" ng-model="b"><br>
		Sum: {{sum}}<br>
		<button ng-click="doSum()">Calculate</button>
	</div>
</body>
</html>